<html lang="en">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Journey</title>
    <link rel="stylesheet" href="style.css">


</head>

<body>
<nav class="navbar">
    <div class="container">

        <p class="navbar-brand">Daily Journal</p>

        <div class="options">
            <ul>
                <p class="op" id="home"><a href="/">Home</a></p>
                <p class="op" id="about"><a href="/about">About Us</a></p>
                <p class="op" id="contact"><a href="/contact">Contact Us</a></p>
            </ul>
        </div>
    </div>

</nav>
<div class="contain">








