.navbar
{

    color: rgba(0,0,0,0.67);

    height: auto;
    width: 98vw;
    border-radius: 15px;
    background-color: whitesmoke;

}
a{
    text-align: center;
    text-shadow: grey;
    color:rgba(0,0,0,0.67);;
    text-decoration: none;
}
ul{
    display: flex;
}
.op{
    padding: 0 10px;
}
.options{
    display: flex;
    margin: 0 10px;

}
.navbar-brand
{
    font-size: 1.5rem;
}
.container{
    display: flex;
    justify-content: space-around;

}

.content{
    font-family: "Droid Sans Mono Dotted";
    text-align: justify;
    width: 60%;
    margin-left: 22.5%;
    line-height: 25px;
    word-spacing: 1px;
}
.content>input[size]{
    width: 60px;
}
#post{
    height: 40px;
    width: 30%;
    font-size: 1.5rem;
}
#posttext
{
    font-size: 1.2rem;
    height: 80px;
    width: 30%;
}
button{
    cursor: pointer;
    color: whitesmoke;
    height: 50px;
    width: 30%;
    font-size: 1.5rem;
    background-color: deepskyblue;
    border-radius: 20px;
    border-style: none;
}
button:hover{
    box-shadow:  5px 5px  aqua;
}
.footer
{
    margin: 0;
    padding: 0;
    border:0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color:rgba(0,0,0,0.67);;

    height: 50px;
    background-color: whitesmoke;
}
.contain
{

    font-family: "Roboto Light", serif;
    color: black;
}

@media only screen and (min-width:768px ) {
    .options{
        padding-right: 50px;
    }
    .navbar-brand{
        padding-left: 100px;
    }
}